<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  Amanda Fung -
  CS591-Summer Final Project
</div>
<div style="text-align:center">
<h1>
  <img width="250" alt="Spotify Logo" src="./assets/spotifylogo.dms">
  <img width="200" alt="Twitter Logo" src="./assets/twitterlogo.png">
</h1>
  <h3>

<div>
    Welcome to {{ title }}!
</div>
    <a href="http://localhost:3000/login" class="btn btn-primary">Log in with Spotify</a>

  </h3>
  <h4>
    Top 3 Artists from Spotify Top Charts Playlist:

  </h4>


  <h2>
<app-spotify></app-spotify>
  </h2>

</div>


<div style="text-align:center">
  <h4>
    Tweets about Top Three Artists:
  </h4>




  <h2>
    <app-twitter></app-twitter>
  </h2>

</div>


<div style="text-align:right">
  fuck my life
</div>
<div style="text-align:left">
  I wasn't made for this
</div>
